---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Acts from '../components/Acts.astro';
import Venue from '../components/Venue.astro';
import WhatsOn from '../components/WhatsOn.astro';
import Accommodation from '../components/Accommodation.astro';
import MapSection from '../components/MapSection.astro';
import Tickets from '../components/Tickets.astro';
import GoodToKnow from '../components/GoodToKnow.astro';
import GettingThere from '../components/GettingThere.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Acts />
    <Venue />
    <WhatsOn />
    <Accommodation />
    <MapSection />
    <Tickets />
    <GoodToKnow />
    <GettingThere />
    <Contact />
  </main>
</Layout>
